#profile{
    width: 30%;
    margin-left: 20%;
    border-radius: 50px;
}
.about{
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
    margin-top: 5%;
}

#hello{
    margin-left: 10%;
    margin-top: 10%;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#skills{
    text-align: center;
    /* margin-left: 40%; */
    font-size:x-large;
    font-weight: bold;
    margin-bottom: 6%;
    margin-top: 10%;
}
.code{
    border: 2px solid rgb(97, 84, 84);
    
}
.visit{
    background-color: goldenrod;
    color: black;
    border-radius: 20px;
    border: 2px solid;
    
    
}
.visit a{
    color: black;
    transition: 2s;
}
.scrollskill{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10%;
    overflow: auto;
    white-space: nowrap;
    
    
}
.scrollskill a{
    display:inline-block;
    color: goldenrod;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
}
.scrollskill a:hover{
    background-color: goldenrod;
}
.title{
    font-weight: bold;
    font-size: large;
    text-align: center;
}
#icon{
    font-weight: bold;
    font-size: x-large;
    padding-left: 30%;
    padding-top: 5%;
}
.soft{
    border-radius: 20px;
    border: 4px solid;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.social{
    font-size: larger;
    font-weight: bold;
    
}
.location{
    margin-left: 45%;
    margin-top: -11.5%;
}
.form{
    margin-left: 33%;
    margin-bottom: -9%;
    font-weight: bold;
    font-size: large;
    /* background-color: rgb(64, 66, 68); */
    border-radius: 5px;
    
}
#first{
    margin-right: 1%;
    
}
#last{
    margin-left: 30%;
    margin-top: -7.3%;
}
#email{
    margin-bottom: -3%;
}
#phone{
    margin-left: 30%;
    margin-top: -5%;
}
#message{
    margin-top: 5%;
    /* margin-left: 2%; */
    width: 51%;
    height: 10%;

}
.submit{
    margin-left: 20%;
    border-radius: 10px;
    background-color: goldenrod;
    color:black;
    font-weight: bold;
    font-size: x-large;
    border: 2px solid black;
    cursor: pointer;
    width: 150px;
}

.footer{
    margin-left: 10%;
}
.right{
    border: 2px solid rgb(97, 84, 84);
    text-align: center;
    background-color: rgb(95, 88, 88);
    font-size: x-large;
    
}
.cv{
    margin-left: 46%;
    border-radius: 20px;
    margin-top: -30%;
    background-color: goldenrod;
    color:black;
    font-weight: bold;
    font-size: x-large;
    border: 2px solid black;
    cursor: pointer;
    width: 200px;
}
.cv a{
    color: black;
    transition: 2s;
    
}
